.env
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.mypy_cache/
.venv/
venv/

data/raw/*
data/processed/*
data/backtest/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/backtest/.gitkeep

logs/*
!logs/.gitkeep
